.r__container
  .r__header
    .r__header__logo
      = link_to image_tag('logo.png', width: '170', height: '60'), root_path
  .r__main
    .r__main__contents
      .r__main__contents__first
        購入内容の確認
      .r__main__contents__second
        .r__main__contents__second__middle
          %ul
            %li
              = image_tag @item.images[0].src.to_s, class:"firstImage",width:120
          %ul.r__item__box
            %li.r__item__box__name
              #{@item.name}
            %li.r__item__box__price
              ¥#{@item.price} (税込み、送料込み)

      .r__main__contents__third
        .r__main__contents__third__price
          .r__main__contents__third__price__box
            %p.message
              お支払い金額
            .price-box
              ¥#{@item.price}
        .r__main__contents__third__pay
          %p.message-pay
            支払い方法
          %p.message-pay
            クレジットカード決済のみとなります
        .r__main__contents__third__address
          %p.message
            配送先（ご登録先住所への配送になります。）
          - if current_user.address.building.present?
            #{@city}#{current_user.address.local}#{current_user.address.block}#{current_user.address.building}
          - else
            #{@city}#{current_user.address.local}#{current_user.address.block}

        .r__main__contents__third__btn
          = form_tag(action: :pay, method: :post) do
            %button.button 購入する

  .r__footer
    = render partial: 'layouts/footer'