= render 'layouts/header'

.i__main
  .i__main__items
    %h2.i__main__items__head 新着アイテム一覧
    .i__main__items__lists
      .i__main__items__lists__items
        = render @items

.i__banner
  .i__banner__visual
    .i__banner__visual__content
      %h2.i__banner__visual__content__top だれでも簡単、人生を変えるフリマアプリ
      %p.i__banner__visual__content__text 今すぐ無料ダウンロード！
    .i__banner__visual__logo
      .i__banner__visual__logo__app
        = link_to "http://apple.com/jp/" do
          = image_tag 'apple-icon.png', alt: '',height: '50px', width: '165px', class: 'apple'
      .i__banner__visual__logo__app
        = link_to "http://google.co.jp" do
          = image_tag 'google-play.png', alt: '', height: '50px', width: '165px',class: 'google'
.i__footer
  = render 'layouts/footer'