.y__l-content
  %section.y__mypage-user-icon
    = link_to "" , class: "y__mypage-detail" do
      %figure
        = image_tag 'member_photo_noimage_thumb.png', alt: '', height: '60', width: '60', class: 'y__user-no-img'
      %h2.y__bold
        = current_user.nickname
      .y__mypage-number
        %div
          評価
          %span.y__bold
            0
        %div
          出品数
          %span.y__bold
            0

  %section.y__mypage-tab-container-notification-todo
    %ul.y__mypage-tabs
      %li.y__active
        = link_to 'お知らせ' , href: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3466462615", alt: "mercari", width: "80", height:"65", data: {toggle: "tab"}
      %li
        = link_to 'やることリスト' , href: "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3466462615", alt: "mercari", width: "80", height:"65", data: {toggle: "tab"} 
    .y__tab-content
      .y__tab-content-img
      %ul#y__mypage-tab-notification.y__mypage-itemlist
        %li.y__mypage-item-not-found.y__bold お知らせの商品はありません
  -#  %ul#mypage-tab-todo.mypage-itemlist
  -#    %li.mypage-item-not-found.y__bold 現在やることリストはありません
  
  %section.y__mypage-tab-container
    %h2.y__mypage-tab-head
      購入した商品
    %ul.y__mypage-tabs
      %li.y__active
        = link_to '取引中' ,href: "#mypage-tab-transaction-now", data: {toggle: "tab"}
      %li
        = link_to '過去の取引' ,href: "#mypage-tab-transaction-old", data: {toggle: "tab"}
    .y__tab-content
      .y__tab-content-img
      %ul#y__mypage-tab-transaction-now.y__mypage-item-list
        %li.y__mypage-item-not-found.y__bold 取引中の商品がありません
    -#  %ul#mypage-tab-transaction-old.mypage-itemlist
    -#    %li.mypage-item-not-found.y__bold 過去に取引した商品はありません