.i__header
  .i__header__inner
    .i__header__inner__main
      .i__header__inner__main__logo
        = link_to "/" do
          = image_tag 'logo.png', alt: '', height: '40px', width: '140px', class: 'img-logo'
      
          
    .i__header__inner__nav
      %ul.i__header__inner__nav__left
        %li.i__header__inner__nav__left__first
          = render "layouts/category"
        %li.i__header__inner__nav__left__second ブランド
      %ul.i__header__inner__nav__right
        -if user_signed_in?
          = link_to users_path(current_user),id: "btn" do
            %li.i__header__inner__nav__right__login マイページ
          = link_to destroy_user_session_path, method: :delete, id: "btn" do
            %li.i__header__inner__nav__right__login ログアウト
        -else
          = link_to new_user_session_path,id: "btn" do
            %li.i__header__inner__nav__right__login ログイン
          = link_to new_user_registration_path,id: "btn" do
            %li.i__header__inner__nav__right__login 新規会員登録

